html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EAF4CF;
    align-items: center;
    display: flex;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: right;
    padding: 50px;
}
.filterbar{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: #e8ff56;
    border: 1 px solid #000000;
    border-radius: 30px;
    box-shadow: 0 1px 10px #fafede;
    color: #000000;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: #e8ff56;
    border: 1px solid #fafede;
    flex-basis: 200px;
    height: 660px;
    width: 250px;
    padding: 30px 20px;
    opacity: 0.8;
    
}

.headline{
    background: #f8ffc8;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0 1px 5px #c8c9a5;
    height: 25px;
    width: 200px;
    flex-basis: 250px;
    color: hsl(97, 21%, 19%);
    font-size: 18px;
    font-family: Manrope;
    padding: 1px;
    text-align: center;
}
.eachrow{
    display: flex;
    justify-content: left;
    margin: 8% 0;
    padding: 4px 1px;
}
.checkbox{
    background: #f8ffc8;
    box-shadow: 0 1px 5px #c8c9a5;
    border: 0px;
    height: 20px;
    width: 20px;
    justify-content: center;
    margin : 0 2%;
}
.checkbox:hover{
    background: #cad677;
    box-shadow: 0 1px 5px #c8c9a5;
}
.allcheckbox{
    background: #f8ffc8;
    box-shadow: 0 1px 5px #c8c9a5;
    border: 0px;
    height: 20px;
    width: 20px;
    justify-content: center;
    margin : 0 2%;
}
.allcheckbox:hover{
    background: #cad677;
    box-shadow: 0 1px 5px #c8c9a5;
}
.subject{
    color: hsl(97, 23%, 35%);
    margin: 0 2%;
    font-size: 16px;
    font-family:Manrope;
}
.dot{
    height: 12.5px;
    width: 12.5px;
    background-color: rgb(1, 120, 32);
    box-shadow: 0 1px 5px #c8c9a5;
    border-radius: 50%;
    display: inline-block;
    margin: 1.5%;

}
