html{
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background-color: #EAF4CF;
    /* align-items: center; */
    /* display: flex; */
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    /* justify-content: right; */
    /* padding: 50px; */
}
#contain-filter{
    height: 700px;
    width: 350px;
    /* flex-wrap: wrap; */
    margin-top: 0px;
    margin-left: 0%;
    margin-top: 5%;
}
#filterbar{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background-color: #e8ff56;
    border: 1 px solid #000000;
    border-radius: 30px;
    box-shadow: 0 1px 10px #fafede;
    color: #000000;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* background: #e8ff56; */
    border: 1px solid #fafede;
    /* flex-basis: 200px; */
    height: 700px;
    width: 350px;
    padding: 30px 20px 0px 50px;
    opacity: 0.8;
    overflow: auto;
    align-content: center;
    justify-content: center;
 
}
::-webkit-scrollbar{
    width: 1vw;
    height: 50%;
    max-height: 50%;
    flex-direction: column;
    display: flex;
    border-radius: 30px;
}
::-webkit-scrollbar-track{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f8ffc8;
    border-radius: 30px;
    /* width: 2em;
    height: 50%;
    max-height: 50%; */
}
:-webkit-scrollbar{
    background: #f8ffc8;
}
::-webkit-scrollbar-thumb{
    background: #e1e6e1;
    border-radius: 12px;
    
}
::-webkit-scrollbar-button{
    height: 50px;
    width: 50px;
}

#headline-filter{
    background-color: #fdffee;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0 1px 5px #c8c9a5;
    height: 25px;
    width: 200px;
    /* flex-basis: 250px; */
    color: hsl(97, 21%, 19%);
    font-size: 18px;
    font-family: Manrope;
    padding: 1%;
    text-align: center;
    align-content: center;
    margin-left: 10%;
}
#title-filter{
    color: hsl(97, 21%, 19%);
    font-size: 18px;
    font-family: Manrope;
    text-align: center;
    /* padding-top: 2%; */
}
#eachrow{
    display: flex;
    justify-content: left;
    margin: 8% 0;
    padding: 1% 1%;
}
#checkbox{
    background: #f8ffc8;
    box-shadow: 0 1px 5px #c8c9a5;
    border: 0px;
    height: 20px;
    width: 20px;
    justify-content: center;
    margin : 0 2%;
    color: hsl(97, 21%, 19%);
    text-align: center;
}
#checkbox:hover{
    background: #cad677;
    box-shadow: 0 1px 5px #c8c9a5;
}
#allcheckbox{
    background: #f8ffc8;
    box-shadow: 0 1px 5px #c8c9a5;
    border: 0px;
    height: 20px;
    width: 20px;
    justify-content: center;
    margin : 0 2%;
    color: hsl(97, 21%, 19%);
    text-align: center;
}
#allcheckbox:hover{
    background: #cad677;
    box-shadow: 0 1px 5px #c8c9a5;
}
#subject{
    color: hsl(97, 23%, 35%);
    margin: 0 2%;
    font-size: 16px;
    font-family:Manrope;
}
#dot-filter{
    height: 12.5px;
    width: 12.5px;
    background-color: rgb(1, 120, 32);
    box-shadow: 0 1px 5px #c8c9a5;
    border-radius: 50%;
    display: inline-block;
    margin: 1.5%;

}

@media screen and (max-width: 1250px){
    #contain-filter{
        height: 600px;
        width: 200px;
        /* flex-wrap: wrap; */
        margin-top: 0px;
        margin-left: 0%;
    }
    #filterbar{
        width: 200px;
        height: 660px;
        padding: 20px 5px 0px 10px;
    }
    #headline-filter{
        height: 25px;
        width: 150px;
        font-size: 12px;
    }
    #title-filter{
        font-size: 14px;
    }
    #checkbox{
        height: 15px;
        width: 15px;
        font-size: 10px;
    }
    #allcheckbox{
        height: 15px;
        width: 15px;
        font-size: 10px;
    }
    #subject{
        font-size: 14px;
    }
    #dot-filter{
        height: 10px;
        width: 10px;
    }
}

@media screen and (max-width: 767px){
    #contain-filter{
        display: none;
    }
    #headline-filter{
        margin-left: 10%;
    }
}