/* html{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EAF4CF;
    align-items: top;
    width: 100%;
    font-family: 'Dosis',sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: space-evenly;
    padding: 10px;
}
/* page {
    display:inline-block;
}
.displaypane {
    display: flex;
    justify-content: space-between;
} */
.headertimeplant{
    justify-content:space-around;
    align-content: center;
    display: flex;
    padding:0px;
    align-items: flex;
    margin-left: 8%;
    margin-top: 2%;
} 

.userinfo{
    background: #e1e6e1b8;
    opacity: 1;
    border-radius:20px;
    align-items: left;
    justify-content: center;
    /* padding: 2px; */
    text-align: left;
    height: 20%;
    width: 25%;
    /* margin-right: 10%; */
}

.profile{
    height: 80px;
    width: 80px;
    border-radius: 50px;
    display: inline-block;
    /* margin: 0%; */
    /* float: left; */
    margin-right: 2%;
    margin-left: 2%;
}

#textbox-profile{
    justify-content: left;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
    height: 20%;
    display: inline-block;
}
.userid{
    font-size: 18px;
    font-family: Manrope;
    padding: 1%;
    /* padding-left: 10px; */
    color: hsl(97, 23%, 35%);
    display: inline-block;
    margin-bottom: 0%;
}

.username{
    font-size: 18px;
    font-family: Manrope;
    padding: 1%;
    /* margin: 0% 5%; */
    /* padding-left: 10px; */
    color: hsl(97, 23%, 35%);
    /* display: inline-block; */
}
.logout{
    background-color: hsl(97, 23%, 35%);
    border: 0px;
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-family: Manrope;
    height: 25%;
    width: 30%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding: 2%;
    margin-left: 65%;
    /* margin-top: 2%; */
    display: inline-block;
}
.logout:hover{
    background-color: hsl(357, 75%, 35%);
}
.logopic{
    height: 100px;
    width: 274px;
    display: inline-block;
    margin-left: 40%;
}

.noti {
    margin-left: 40%;
}

#noti-icon{
    height: 50px;
    width: 50px;
    display:block;
}
