<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Bar</title>
    <link rel="stylesheet" href="../style/detail.css">
</head>
<body>
    <!-- <div class="detailbar" id="detailbar"></div> -->
    <div id="det"></div>
    <script src="../script/detail.js"></script>
</body>
</html>
<!-- <div class="detailbar" id="detailbar">
    <div class="yearbox">
        <p class="year">2023</p>
    </div>
    <section class="headline">
        <p id = "date">TUE 25 APR</p>
    </section>
    <section id="selection">
        <div id="taskbox">
            <section class="title">
                <span class="dot"></span>
                <div class="texttitle">
                    <p class="time">8.00 - 9.30</p>
                    <p class="name">Quiz CEE</p>
                </div>
            </section>
            <section class="detail">
                <p class="notetitle">Note :</p>
                <p class="note">Cupid is dumb, me too</p>
                <p class="parttitle">Participant :</p>
                <p class="member">Kim Taerae , Na Kemden</p>
                <p class="others">and 3 others</p>
            </section>
        </div>
        <div class="taskbox">
            <section class="title">
                <span class="dot"></span>
                <div class="texttitle">
                    <p class="time">8.00 - 9.30</p>
                    <p class="name">Quiz GEN CHEM</p>
                </div>
            </section>
            <section class="detail">
                <p class="notetitle">Note :</p>
                <p class="note">Cupid is dumb, me too</p>
                <p class="parttitle">Participant :</p>
                <p class="member">Kim Taerae , Na Kemden</p>
                <p class="others">and 3 others</p>
            </section>
        </div>
        <div class="taskbox">
            <section class="title">
                <span class="dot"></span>
                <div class="texttitle">
                    <p class="time">9.30 - 10.30</p>
                    <p class="name">Quiz GEN PHY II</p>
                </div>
            </section>
            <section class="detail">
                <p class="notetitle">Note :</p>
                <p class="note">Cupid is dumb, me too</p>
                <p class="parttitle">Participant :</p>
                <p class="member">Kim Taerae , Na Kemden</p>
                <p class="others">and 3 others</p>
            </section>
        </div>
    </section>
</div> -->