<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Bar</title>
    <link rel="stylesheet" href="../style/filter.css">
</head>
<body>
    <div class="filterbar" id="filterbar">
        <section class="headline">
            <p>Filter your calendar !</p>
        </section>
        <section class="selection">
            <div class="eachrow">
                <button id= "COM ENG ESS" class="checkbox">
                </button>
                <p class="subject">COM ENG ESS</p>
                <span class="dot"></span>
            </div>
            <div class="eachrow">
                <button id= "GEN PHY II" class="checkbox">
                </button>
                <p></p>
                <p class="subject">GEN PHY II</p>
                <span class="dot"></span>
            </div>
            <div class="eachrow">
                <button id= "GEN CHEM" class="checkbox">
                </button>
                <p class="subject">GEN CHEM</p>
                <span class="dot"></span>
            </div>
        </section>
    </div>
    <script src="../filter.js"></script>
</body>
</html>