<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimePlant</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <div class="header">
        <div class="userinfo">
            <img class="profile" src="profile/IMG_8410.JPG" alt="Your Profile Pic">
            <p class="userid">653XXXXX21</p>
            <p class="username">Snowball hihi</p>
            <button class="logout">LOGOUT</button>
        </div>
        <div class="logo">
            <img class="logopic" src="../image/logo_TimePlant.png" alt="TimePlant">
        </div>
        <div class="noti">
            <img class="noti-icon" src="../image/noti-icon.png" alt="Notification">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>