<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Plant Login</title>

    <link rel="stylesheet" href="/loginpage.css" />
  </head>
  <body>
    <div id="alllogincomponent">
        <div id="leftlogincomponent">
            <img src="../image/loginleave.png" id="loginleave">
            <p id="logintimeplant">Time<br>Plant</p>
            <p id="logindescription">Let’s plant your time.</p>
            <img src="../image/logincalendar.png" id="logincalendar">
        </div>
        <div id="rightlogincomponent">
            <div id="loginblock">
                <div id="loginworddes1">Please Login</div>
                <div id="loginworddes2">your MyCourseVille</div>
    
            </div>
        </div>
    </div>

    <div id="loginaddpic">
        <div id="loginblank"></div>
        <div id="loginimg">
            <img src="../image/loginclock.png" id="loginclock">
            <p id="loginworddes3">with</p>
            <div id="loginbutton">
                <div id="loginbuttonbg">
                    <img src="../image/mcvlogo.png" id="mcvlogin">
                    <div id="loginline"></div>
                    <div id="loginword">Login</div>
                </div>

            </div>
            <img src="../image/loginfile.png" id="loginfile">
        </div>
    </div>

    <script src="../script/loginpage.js"></script>
    
  </body>
</html>
