<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notibox</title>
    <link rel="stylesheet" href="../style/noti.css">
</head>
<body>
    <div id="noticontain"></div>

    <script src="../script/noti.js"></script>
    <script src="../script/detail.js"></script>
    <script src="../script/filter.js"></script>
    <script src="../script/calendar.js"></script>
</body>
</html>