<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notibox</title>
    <link rel="stylesheet" href="../style/noti.css">
</head>
<body>
    <div id="notibar">
        <div id="headline">
            <img id="noti-logo" src="" alt="">
            <p id="title">Notification</p>
        </div>
        <div id="invite-container">
            
        </div>
    </div>
    <script src="../script/noti.js"></script>
</body>
</html>