<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notibox</title>
    <link rel="stylesheet" href="../style/noti.css">
</head>
<body>
    <div id="noticontain"></div>
    <!-- <div id="notibar">
        <div id="headline">
            <div id="titlebox">
                <p id="title">Notification</p>
            </div>
            <img id="noti-logo" src="../image/noti-icon.png" alt="">
        </div>
        <div id="invite-container">
            <div id="invitebox">
                <p id="message">CD has invited you to join</p>
                <div id="eventname-invite">
                    <span id="dot-invite"></span>
                    <p id="name-invite">Meeting CEE</p>
                </div>
                <div id="date-box">
                    <p id="date-title">Date :</p>
                    <p id="date-invite">TUE 19 APR 2023</p>
                </div>
                <div id="time-box">
                    <p id="time-title">Time :</p>
                    <p id="time-invite">20.00 - 21.00</p>
                </div>
                <div id="response-invite">
                    <button id="accept-button">Accept</button>
                    <button id="reject-button">Reject</button>
                </div>
            </div>
        </div>
    </div> -->
    <script src="../script/noti.js"></script>
</body>
</html>